

.subscribe-button{
  background-color: rgb(236, 8, 8);
  color: white;
border: none;
cursor: pointer;
font-size:13px ;
border-radius: 2px;
margin-right: 8px;
padding-top: 10px;
padding-bottom:10px ;
padding-left: 16px;
padding-right: 16px;
vertical-align:top;

transition: opacity o.15s;
}

.subscribe-button:hover {
  opacity: 0.7;
}
.subscribe-button:active{
  opacity: 0.4;
}

.join-button{
background-color: white;
border-radius: 2px;
border-style: solid;
border-color:rgb(6, 95, 212);
border-width: 1px;
padding-top: 9px;
padding-bottom:9px ;
padding-left: 16px;
padding-right: 16px;
color: rgb(6, 95, 212);
cursor: pointer;
transition:background-colour 0.15s,
color 0.15;
}

.join-button:hover{
  background-color:rgb(6, 95, 212);
color: white;
}
.join-button:active{
  opacity: 0.7;
}


.tweet-button{
background-color:rgb(33, 148, 241);
color: white;
border-color:rgb(33, 148, 241);
border: none;
border-radius: 18px;
font-size: 15px;
font-weight: bold;
cursor: pointer;
padding-top: 9px;
padding-bottom:9px ;
padding-left: 16px;
padding-right: 16px;
margin-left: 8px;
vertical-align: top;
transition: box-color 0.15s;
}

.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.tweet-button:active{
  opacity: 0.7;
}